@using OnlineTicariOtomasyon.Models
@model List<Duyuru>
@{
    ViewBag.Title = "Duyurular";
    Layout = "~/Views/Shared/_CariPanelLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Online Ticari Otomasyon</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="container-fluid">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Duyurular</h1>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </section>

        <section class="content">
            <div class="row mt-3">
                <div class="col-12">
                    @foreach (var duyuru in Model)
                    {
                        <div class="post">
                            <div class="user-block">
                                <img class="img-circle img-bordered-sm" src="@duyuru.Personel.Gorsel" alt="@duyuru.Personel.Ad @duyuru.Personel.Soyad">
                                <span class="username">
                                    <a href="#">@duyuru.Personel.Ad @duyuru.Personel.Soyad</a>
                                </span>
                                <span class="description">@duyuru.Tarih.ToString("dd.MM.yyyy HH:mm")</span>
                            </div>
                            <p>
                                @duyuru.Aciklama
                            </p>
                        </div>
                    }

                </div>
            </div>
        </section>
    </div>

    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>
