@using OnlineTicariOtomasyon.Models
@model List<Personel>
@{
    ViewBag.Title = "Personeller";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Personeller</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Personel/Index">Personeller</a></li>
        <li class="breadcrumb-item active">Personel Listesi</li>
    </ol>
    @if (TempData["PersonelSuccess"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["PersonelSuccess"].ToString()
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>}
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Personel Listesi</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Görsel</th>
                            <th>Departman</th>
                            <th>işlemler</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Görsel</th>
                            <th>Departman</th>
                            <th>işlemler</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var personel in Model)
                        {
                            <tr>
                                <td>@personel.Id</td>
                                <td>@personel.Ad</td>
                                <td>@personel.Soyad</td>
                                <td></td>
                                <td>@personel.Departman.Ad</td>
                                <td>
                                    <a href="/Departman/PersonelSatis/@personel.Id" class="btn btn-info">Satışlar</a>
                                    <a href="/Personel/Duzenle/@personel.Id" class="btn btn-primary">Düzenle</a>
                                    <a href="/Personel/Sil/@personel.Id" class="btn btn-danger">Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group mt-4 mb-0"><a class="btn btn-primary" href="/Personel/Ekle">Yeni Personel Ekle</a></div>
</div>