@using OnlineTicariOtomasyon.Models
@model Cari
@{
    ViewBag.Title = "Cari Düzenle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <h1 class="mt-4">Cari Düzenle</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Cari/Index">Cari</a></li>
        <li class="breadcrumb-item active">Cari Düzenle</li>
    </ol>
    @if (TempData["DangerCari"] != null)
    {
        <div class="row">
            <div class="col-md-6">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    @TempData["DangerCari"].ToString()
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>@Model.Ad @Model.Soyad</div>
                <div class="card-body">

                    @using (Html.BeginForm("Duzenle", "Cari", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.HiddenFor(x => x.Id)
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(x => x.Ad, "Ad", new { @class = "small mb-1" })
                                @Html.TextBoxFor(x => x.Ad, new { @class = "form-control py-3" })
                                @Html.ValidationMessageFor(x => x.Ad, "", new { @class = "small", @style = "color:red" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(x => x.Soyad, "Soyad", new { @class = "small mb-1" })
                                @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control py-3" })
                                @Html.ValidationMessageFor(x => x.Soyad, "", new { @class = "small", @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(x => x.Eposta, "E-posta", new { @class = "small mb-1" })
                                @Html.TextBoxFor(x => x.Eposta, new { @class = "form-control py-3" })
                                @Html.ValidationMessageFor(x => x.Eposta, "", new { @class = "small", @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(x => x.CepTelefonu, "Cep Telefonu", new { @class = "small mb-1" })
                                @Html.TextBoxFor(x => x.CepTelefonu, new { @class = "form-control py-3" })
                                @Html.ValidationMessageFor(x => x.CepTelefonu, "", new { @class = "small", @style = "color:red" })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(x => x.Meslek, "Meslek", new { @class = "small mb-1" })
                                @Html.TextBoxFor(x => x.Meslek, new { @class = "form-control py-3" })
                                @Html.ValidationMessageFor(x => x.Meslek, "", new { @class = "small", @style = "color:red" })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(x => x.Sehir, "Şehir", new { @class = "small mb-1" })
                                @Html.TextBoxFor(x => x.Sehir, new { @class = "form-control py-3" })
                                @Html.ValidationMessageFor(x => x.Sehir, "", new { @class = "small", @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-group">
                            <a data-fancybox="gallery" target="_blank" href="@Model.Gorsel">Mevcut Görseli Görmek İçin Tıklayın</a>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="Gorsel"
                                               aria-describedby="Gorsel" name="Gorsel">
                                        <label class="custom-file-label" for="Gorsel">Görsel Seç</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group mt-4 mb-0">
                                    <button class="btn btn-primary btn-block" type="submit">Kaydet</button>
                                </div>
                            </div>
                        </div>}
                </div>
            </div>
        </div>
    </div>

</div>