@using OnlineTicariOtomasyon.Models
@model SatisHareket
@{
    ViewBag.Title = "Satış Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    $(function () {
        $('#KategoriId').change(function () {

            var id = $('#KategoriId').val();

            $.ajax({
                url: '/Satis/UrunGetir',
                data: {
                    KategoriId: id
                },
                type: "POST",
                dataType: "Json",
                success: function (data) {
                    console.log(data);
                    $('#UrunId').empty();
                    for (var i = 0; i < data.length; i++) {
                        $('#UrunId').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</Option>");
                    }
                }
            });
        });
    });
</script>

<div class="container-fluid">
    <h1 class="mt-4">Yeni Satış Ekle</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Satis/Index">Satış</a></li>
        <li class="breadcrumb-item active">Yeni Satış Ekle</li>
    </ol>
    @if (TempData["SatisDanger"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["SatisDanger"].ToString()
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>}
    <div class="row">
        <div class="col-md-8">
            <div class="card mb-4">
                <div class="card-header"><i class="fas fa-table mr-1"></i>Satış</div>
                <div class="card-body">

                    @using (Html.BeginForm("Ekle", "Satis", FormMethod.Post))
                    {
                        @Html.HiddenFor(x => x.Tarih, new { id = "Tarih", Value = DateTime.Now })

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                @Html.Label("Kategori", new { @class = "small mb-1" })
                                @Html.DropDownList("KategoriId", (IEnumerable<SelectListItem>)ViewBag.KategoriListesi, "Seçiniz", new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(x => x.UrunId, "Ürün", new { @class = "small mb-1" })
                                @Html.DropDownList("UrunId", Enumerable.Empty<SelectListItem>
                                    (), "Seçiniz", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.UrunId, "", new { @class = "small", @style = "color:red" })
                            </div>
                            <div class="form-group col-md-4">
                                @Html.LabelFor(x => x.Adet, "Adet", new { @class = "small mb-1" })
                                @Html.TextBoxFor(m => m.Adet, new { type = "number", min = "1", step = "1", @class = "form-control py-3" })
                                @Html.ValidationMessageFor(x => x.Adet, "", new { @class = "small", @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(x => x.PersonelId, "Personel", new { @class = "small mb-1" })
                                @Html.DropDownList("PersonelId", (IEnumerable<SelectListItem>)ViewBag.PersonelListesi, "Seçiniz", new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.PersonelId, "", new { @class = "small", @style = "color:red" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(x => x.CariId, "Cari", new { @class = "small mb-1" })
                                @Html.DropDownList("CariId", (IEnumerable<SelectListItem>)ViewBag.CariListesi, "Seçiniz", new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.CariId, "", new { @class = "small", @style = "color:red" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-group mt-4 mb-0">
                                    <button class="btn btn-primary btn-block" type="submit">Ekle</button>
                                </div>
                            </div>
                        </div>}
                </div>
            </div>
        </div>
    </div>
</div>


