@using OnlineTicariOtomasyon.Models
@model List<SatisHareket>
@{
    ViewBag.Title = "Satışlar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Satışlar</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Satis/Index">Satışlar</a></li>
        <li class="breadcrumb-item active">Satış Listesi</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Satış Listesi</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tblSatislar" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Ürün</th>
                            <th>Personel</th>
                            <th>Cari</th>
                            <th>Tutar</th>
                            <th>Toplam Tutar</th>
                            <th>Adet</th>
                            <th>Tarih</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var satis in Model)
                        {
                            <tr>
                                <td>
                                    <a data-fancybox="gallery" target="_blank" href="@satis.Urun.UrunGorsel">@satis.Urun.Ad</a>
                                </td>
                                <td>@(satis.Personel.Ad + " " + satis.Personel.Soyad)</td>
                                <td>@(satis.Cari.Ad + " "+ satis.Cari.Soyad)</td>
                                <td>@string.Format("{0:c}", satis.Tutar)</td>
                                <td>@string.Format("{0:c}", satis.ToplamTutar)</td>
                                <td>@satis.Adet</td>
                                <td>@satis.Tarih.ToString("dd.MM.yyyy")</td>
                                <td>
                                    <a href="/Satis/Detay/@satis.Id" class="btn btn-outline-info">Detay</a>
                                    <a href="/Satis/Duzenle/@satis.Id" class="btn btn-primary">Düzenle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*<div class="form-group mt-4 mb-0"><a class="btn btn-primary" href="/Satis/Ekle">Yeni Satış Ekle</a></div>*@
</div>
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script>

    $('#tblSatislar').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
        }
    });

</script>