@using OnlineTicariOtomasyon.Models
@model List<Fatura>
@{
    ViewBag.Title = "Faturalar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Faturalar</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/Fatura/Index">Fatura</a></li>
        <li class="breadcrumb-item active">Faturalar</li>
    </ol>
    @if (TempData["FaturaSuccess"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["FaturaSuccess"].ToString()
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>}
    <div class="card mb-4">
        <div class="card-header"><i class="fas fa-table mr-1"></i>Fatura Listesi</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="tblFatura" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Fatura No</th>
                            <th>Toplam Tutar</th>
                            <th>Vergi Dairesi</th>
                            <th>Vergi Numarası</th>
                            <th>Teslim Eden</th>
                            <th>Teslim Alan</th>
                            <th>Tarih</th>
                            <th>Saat</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var fatura in Model)
                        {
                            <tr>
                                <td>@fatura.SeriNo@fatura.SiraNo</td>
                                <td>@string.Format("{0:c}", fatura.ToplamTutar)</td>
                                <td>@fatura.VergiDairesi</td>
                                <td>@fatura.VergiNumarasi</td>
                                <td>@fatura.TeslimEden</td>
                                <td>@fatura.TeslimAlan</td>
                                <td>@fatura.Tarih.ToString("dd.MM.yyy")</td>
                                <td>@fatura.Saat</td>
                                <td>
                                    <a href="/Fatura/Detay/@fatura.Id" class="btn btn-outline-info btn-sm">Detay</a>
                                    <a href="/Fatura/Duzenle/@fatura.Id" class="btn btn-primary btn-sm">Düzenle</a>
                                    <a href="#" class="btn btn-success btn-sm btnYeniKalem" data-faturano="@fatura.SeriNo@fatura.SiraNo" data-fatura="@fatura.Id">Kalem Ekle</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="form-group mt-4 mb-0"><a class="btn btn-primary" href="/Fatura/Ekle">Yeni Fatura Oluştur</a></div>
    <div class="form-group mt-2 mb-0"><a class="btn btn-primary" href="#" data-target="#modalFaturalar" data-toggle="modal">Faturalar</a></div>
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", ".btnYeniKalem", OpenModalPopUp);
    });

    function OpenModalPopUp() {
        var faturaNo = $(this).data("faturano");
        var faturaId = $(this).data("fatura")
        $('.modal-title').html('Yeni Kalem Ekle (' + faturaNo + ')');
        $('#FaturaId').val(faturaId)
        $("#modalYeniKalem").modal();
    }
</script>

<div class="modal fade" id="modalYeniKalem" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("KalemEkleModal", "Fatura", FormMethod.Post))
                        {
                            @Html.Hidden("FaturaId")

                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    @Html.Label("Açıklama", new { @class = "small mb-1" })
                                    @Html.TextBox("Aciklama", "", new { @class = "form-control py-3" })
                                    @Html.ValidationMessage("Aciklama", "", new { @class = "small", @style = "color:red" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    @Html.Label("BirimFiyat", "Birim Fiyatı", new { @class = "small mb-1" })
                                    @Html.TextBox("BirimFiyat", "", new { type = "number", min = "0", step = "1", @class = "form-control py-3" })
                                    @Html.ValidationMessage("BirimFiyat", "", new { @class = "small", @style = "color:red" })
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.Label("Tutar", "Tutar", new { @class = "small mb-1" })
                                    @Html.TextBox("Tutar", "", new { type = "number", min = "0", step = "1", @class = "form-control py-3" })
                                    @Html.ValidationMessage("Tutar", "", new { @class = "small", @style = "color:red" })
                                </div>
                                <div class="form-group col-md-4">
                                    @Html.Label("Adet", "Adet", new { @class = "small mb-1" })
                                    @Html.TextBox("Adet", "", new { type = "number", min = "0", step = "1", @class = "form-control py-3" })
                                    @Html.ValidationMessage("Adet", "", new { @class = "small", @style = "color:red" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-group mt-4 mb-0">
                                        <button class="btn btn-primary btn-block" type="submit">Ekle</button>
                                    </div>
                                </div>
                            </div>}


                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalFaturalar" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Faturalar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Fatura No</th>
                                <th>Toplam Tutar</th>
                                <th>Teslim Eden</th>
                                <th>Teslim Alan</th>
                                <th>Tarih</th>
                                <th>Saat</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var fatura in Model)
                            {
                                <tr>
                                    <td>@fatura.SiraNo@fatura.SeriNo</td>
                                    <td>@string.Format("{0:c}", fatura.ToplamTutar)</td>
                                    <td>@fatura.TeslimEden</td>
                                    <td>@fatura.TeslimAlan</td>
                                    <td>@fatura.Tarih.ToString("dd.MM.yyy")</td>
                                    <td>@fatura.Saat</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script>

    $('#tblFatura').DataTable({
        "language": {
            "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
        }
    });

</script>